header {
    height: 70px;
    min-height: 50px;
    background: #fff;
    box-shadow: 0 0 3px rgb(60 72 88 / 15%);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 99999;
}
p{
	font-size: 16px;
}
ul {
	list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    display: flex;
    justify-content: space-between;
}

.menu {
    height: 70px;
}
.menu_mobile {
	display: none;
}

.fix_menu_mobile {
	display: none;
}
.icon_hide {
	display: none;
}

.logo {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.logo img {
    height: 50px;
}

.menu ul {
	list-style-type: none;
	height: inherit;
	display: flex;
	justify-content: end;
	align-items: center;
}
.menu ul li{
	display: inline-block;
	margin: 0;
	margin-left: 40px;
	text-transform: uppercase;
	cursor: pointer;
}

#trangchu {
    padding-top: 70px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(img/background2.png);*/
    background: url(https://lh3.googleusercontent.com/0OzNHoo8ngXi28LUCHtVEmiuSG9zzaBOWD_9hC6zlHCCs0NTAEBi828OHzpvyDGcpEochFKo6mwsTrJemGoS8wvv3zmFKruLhfayTjpCwLDzSs9qQ_YK2ZFjbX3102tWvX8ZfMCosLXzAThNKZfrOt_TO1Fw71_caHbLPn7cMgtzu8iPtdauVzPNUtL9IAuthgPnTWB-dv3z3QznXUWm7-ajbPHsdwRzgX65aoczqwR_7Cr3vjWC7ME1O93huotGdw5__8kiLQXfR26ED8gIgTrIi_VW9lWdXw29m9Q141I4rNKgaYCFuhKfmFAfub5FVwI0N6oMw6yVzyRu1HCZ7VOi3mQ7d5WaK3la-GroR1fB_4Alp9lje_k3JTzb-_0WUH-k7cXbmOFyzxEZqPh4AAnkIZknIoETqPHuyD5zRDZO3Eimum5WhTXvwuu2Rjk32FqU15xuc5yQAdjwtFn_0hAEj7BLDWwl8lcEYfCqqThDoiB0LhS69_n5bEO6DlKLIbBLW9GWzzZrUTWfV_qlsFQYCltZBx523iVE1m5mbGQlWMEERUzERCPJ-_GG14N6JP3mEUKjl8nr8Qop4gFEE-vqzjsEedxhjdg8awQRMEcbaMUki1lJzEF9moa30Ly5Vf0-00QWHfL_riPe8l3gvvMtB68dn5rDcyygjxwaE27fSLU-2jCy3g1eBcHJf8Wh0qafPNnmGd5CeRQ9H3BvO0w=w1920-h1080-no?authuser=0) no-repeat center center;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}
.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000a1;
}

.trangchu {
 	text-align: center;
 	color: white;
}
.trangchu h1{
    font-size: 2.6em;
    font-weight: bold;
}


/*===================*/
#tinhnang {
	padding: 100px 0px;
	background-color: #303539;
	/*background-image: url(img/bg.png);*/
	background-image: url(https://lh3.googleusercontent.com/oHfprWUY9uLPnpa0oI-xPrr_8URxAORXjesbW2gv1OIaOkFxr1-DbyGuLPlVAIfPS-TkdSjyjReQcvNyoVRgl8mrPvk12parV7cVSAfUpeZ5hWweN8GmzIZ6dWCyPpBWiEdD4ha4PhSjhgCc03vQg6_DqUWpt6nzdVr0fgfWzjHgooi1iWIRQbuR6XD3RF8wP6HNiR96IBsYAGV5igi1ODl5vVdhQOc8wxdgjJKnMqaqGqcUEo_lDkJO5QiCYtMwqvOPckLJoGvAo7bqZ7wgSnaHXp7GrEyPiRw1P1Gyp6FOkb_xq89Xubru6Vm-YC738aJDOofhttgT15V_37jujaEOI9ilIxsdRW9QEd6aKU9du2y_I-11WxYpO1dODAkqqs5H5rAMVgESe9hwkezgHkIn87_Y3ubJNd6qXzidG4yo4Ys39B_ZrEbIWTcjBiQvZWaItFDkuD-mFhWW3yM5Wb5Nm-XsWNmOC0H_xGu4-gNfPy7_Hv3JfeZPwEAjMcZSl5QSLEcD-uLe5SlgpcCaQuUj07-0bGrui7jGi6tzNhMORsDjIMp-zFOt4DtmZyz9PPwQcq0iwpI0aL2Ed4pz2A2iaemITll6RsQ8qPZtuRQy9g9ivCc9e1cicl7D7gAHBznkANx-DkL5D9s_9uFBfdoWzcS4jyN7KcGxwvpY97v2VwYWXbVldZ4VXyaapCnxrAVNGQOrUIWF0o_8fIOHyIA=w1677-h943-no?authuser=0);
	background-size: cover;
	position: relative;
	color: white;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#tinhnang .content .info {
	padding-right: 50px;
}

#tinhnang .img {
	width: 450px;
	min-width: 450px;
}
#tinhnang img {
	width: 100%;
}

.bg-overlay {
    background-color: rgba(60,72,88,.7);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

/*===================================*/
#loiich {
	padding: 100px 0;
}

#loiich .img {
	width: 300px;
	min-width: 300px;
}

#loiich .img img {
	width: 100%;
}

#loiich .content .text {
	padding-left: 80px;
}

#loiich .content .text ul li{
	display: flex;
	text-align: center;
    padding: 9px 0px;
}

#loiich .content .text ul li span{
	margin-left: 10px;
}

#loiich .content .text ul li svg{
	filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(
68deg) brightness(119%) contrast(119%);
}


/*=============================*/
section#huongdan {
    background: #38434f;
    color: white;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

section#huongdan svg {
	filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(
43deg) brightness(119%) contrast(119%);
	transform: scale(1.5);
}

.step_child {
    width: 250px;
}

/*==============================*/

section#mua {
    padding-top: 50px;
}

.dat_mua {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.dat_mua img {
    width: 100%;
}

.thumb {
    width: 350px;
    margin: 0 50px;
    position: relative;
}

.content_image {
    display: flex;
    justify-content: space-between;
}

.title {
    font-size: 40px;
}

.des {
    font-size: 30px;
    margin-bottom: 40px;
}

.name {
    width: 220px;
    height: 50px;
    position: absolute;
    background: #060606;
    bottom: 6%;
    left: 2%;
    color: white;
    line-height: 60px;
    padding-left: 10px;
    text-transform: uppercase;
}


.form {
    width: 400px;
    margin: 40px;
}

.form input {
    width: 100%;
    height: 45px;
}
.price {
	padding: 15px;
	display: flex;
    align-items: center;
}

span.price_origin {
	text-decoration: line-through;
	color: #828282;
	font-size: 22px;
}

span.price_promotion {
    margin-left: 30px;
    font-size: 35px;
    color: #00bc00;
}

.freeship svg{
	filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(
68deg) brightness(119%) contrast(119%);
}

.freeship {
    display: flex;
    align-items: center;
    margin: 10px 0;
    margin-bottom: 20px;
}

/*=======================*/

footer#footer {
    background: #38434f;
    color: white;
    padding-top: 50px;
    color: #d4d4d4;
}

.head {
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-bottom: 15px;
}

ul.diachia {
    margin-top: 10px;
}

ul.diachia li {
    display: flex;
    margin: 20px 0;

}

ul.diachia li span {
    margin-left: 10px;
}

ul.diachia li svg {
   filter: invert(100%) sepia(0%) saturate(100%) hue-rotate(
43deg) brightness(119%) contrast(119%);
	min-width: 20px;
	max-width: 20px;
}

footer#footer ul li:hover {
	cursor: pointer;
	color: white;
}

section#content {
	margin-top: 70px;
	padding: 50px 0px;
}

/*==============================*/

/* Larger than phablet (also point when grid becomes active) */
@media (max-width: 750px) {
	header {
    	height: 55px;
	}
	.logo {
    	height: 60px;
	}

	.logo img {
	    height: 40px;
	    width: 85%;
	}
	.menu {
		display: none !important;
	}
	.menu_mobile {
		display: flex;
		align-items: center;
		cursor: pointer;
		/*margin-right: 20px;*/
	}

	.visible {
		display: block;
	}
	.hide {
		display: none;
	}
	.fix_menu_mobile {
	    position: absolute;
	    background: white;
	    width: 100%;
	    top: 55px;
	    left: 0;
	    border-top: 1px solid #f1f3f9;
	    border-bottom: 1px solid #f1f3f9;
	    background-color: #fff;
	    padding-top: 15px;
	}
	.fix_menu_mobile ul li{
		text-transform: uppercase;
		cursor: pointer;
		margin-bottom: 15px;
	}

	#tinhnang {
		padding: 50px 0;
	}
	#tinhnang .content {
		flex-direction: column-reverse;
	}
	#tinhnang .img {
	    width: 300px;
	    min-width: 300px;
	}
	#tinhnang .content .info {
	     padding-right: 0;
	    margin-top: 20px;
	}
	#loiich .content {
		flex-direction: column;
	}
	#loiich {
	    padding: 50px 0;
	}
	#loiich .img {
	    width: 200px;
	    min-width: 200px;
        margin: 0 auto;
	}
	#loiich .content .text {
		padding-left: 0;
		margin-top: 20px;
	}

	#huongdan .step_child {
     	width: 100%;
	    margin: 0 0px;
	    font-size: 14px;
	}
	#huongdan .content {
	    align-items: inherit;
	}
	#huongdan .container {
	    padding: 0;
	}
	#mua .content_image {
	    flex-direction: column-reverse;
	}
	#mua .thumb {
	    width: 310px;
	}
	#mua .des {
	    font-size: 20px;
	    text-align: center;
	}
	#mua .name {
	    width: 200px;
	}
	#mua .form {
	    width: 100%;
	}
	#mua span.price_promotion {
	    font-size: 30px;
	}
}


/* Larger than tablet */
@media (max-width: 750px) {}

/* Larger than desktop */
@media (max-width: 1000px) {}

/* Larger than Desktop HD */
@media (max-width: 1200px) {}
